<div class="card">
    <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">By: {{user.name}} on {{created_on}}</h6>
    <p class="card-text">{{text}}</p>
  </div>
</div>