<h3>your posts go here {{ name}}</h3>

<div id="posts"></div>
<form action="/newpost" method="get">
<button type="submit" class="btn btn-primary">New Post</button>
</form>

<script src="/assets/js/dash.js"> </script>