<div class="postForm">
<form id="newPostForm">
  <div class="form-group">
    <label for="title">Post Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label for="newPost">Post Here</label>
    <textarea class="form-control" id="newPost" name="post" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>

<script src="/assets/js/post.js"></script>