<div class="postForm">
<form action="/posts" method="post">
  <div class="form-group">
    <label for="newPost">Example textarea</label>
    <textarea class="form-control" id="newPost" name="text" rows="3"></textarea>
  </div>
</form>
</div>